@model IEnumerable<LibraryManagment.Data.Model.Author>
@{
    ViewData["Title"] = "All Authors";
}


<div>
    <a name="btnCreate" value="Create New Author" class="btn btn-primary"
       asp-action="CreateNew" asp-controller="Author">Create New Author</a>
</div>

<div class="row">

    @foreach (var author in Model)
    {
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">@author.Name</h3>
                </div>
                <div class="panel-body">
                    <p>@author.Name has @author.Age years old.</p>
                    <p>Boos Count : @author.Books.Count book(s)</p>
                </div>
                <div class="panel-footer">
                    <a asp-action="Books" asp-controller="Book" asp-route-AuthorID="@author.ID" class="btn btn-success">View Book List</a>
                    <a asp-action="Edit" asp-controller="Author" asp-route-id="@author.ID" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-controller="Author" asp-route-id="@author.ID" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>



